.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider__tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 0 20px;
}

.slider .slider__card:not(:last-child) {
    align-self: center;
}