.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #2F2A32;
    padding: 20px 0;
    height: 100%;
}

.slider .slider__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70%;
}

.slider__wrapper-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
    height: 100%;
}

.slider .slider__card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    transition: all .2s ease-in-out;
    overflow: hidden;
    background-color: #26232B;
}

.slider .slider__card-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 0 30px;
}

.slider .slider__card-content {
    padding: 0 30px;
}

.slider .slider__card-action {
    margin: 15px 0;
    padding: 0 30px;
}

.slider .slider__card-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.slider .slider__card-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: height .1s ease-in;
}

.slider .slider__wrapper-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}