.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #2F2A32;
    padding: 20px 0;
    height: 100%;
}

.slider .slider__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70%;
    position: relative;
}

.slider__wrapper-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
    height: 100%;
    max-height: 85%;
    overflow: hidden;
}

.slider .slider__card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow: hidden;
    background-color: #26232B;
    min-width: flex 1 1 0%;
}

.slider .slider__card-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 0 30px;
}

.slider .slider__card-content {
    padding: 0 30px;
}

.slider .slider__card-action {
    margin: 15px 0;
    padding: 0 30px;
}

.slider .slider__card-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.slider .slider__card-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.slider .slider__wrapper-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .slider__arrow-front {
    position: absolute;
    right: 16%;
    z-index: 999;
    font-size: 32px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: light;
}


.slider .slider__arrow-back {
    position: absolute;
    left: 16%;
    z-index: 999;
    font-size: 32px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: light;
}

.slider .slider__arrow-moving-forward {
    animation: movingForward .1s linear;
}

.slider .slider__arrow-moving-backwards {
    animation: movingForward .1s linear backwards;
}

.slider .slider__card-shrink {
    opacity: 0 !important;
    transition: all .6s ease-in-out;
    transform: scale(0.6) !important;
}

.slider .slider__card-grow {
    flex: 2 1 15% !important;
    height: 100% !important;
    background-color: #26232B !important;
    opacity: 100% !important;
    transition: all .6s ease-out;
}

@keyframes movingForward {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-300px);
    }
}